GEMINI_API_KEY=

APP_ADMIN_PROJECT_ID=
APP_ADMIN_CLIENT_EMAIL=
APP_ADMIN_PRIVATE_KEY=
POSTMARK_API_KEY=
POSTMARK_FROM_EMAIL=your-verified-sender-email@example.com
NEXT_PUBLIC_APP_DOMAIN=
TYPESENSE_HOST=
TYPESENSE_PROTOCOL=https
TYPESENSE_ADMIN_API_KEY=
TYPESENSE_SEARCH_API_KEY=
ADMIN_REINDEX_SECRET=
NEXT_PUBLIC_FIREBASE_VAPID_KEY=


GOOGLE_CLOUD_LOCATION=
GOOGLE_GENAI_USE_VERTEXAI=
VERTEX_VECTOR_INDEX_ENDPOINT_RESOURCE_NAME=
VERTEX_VECTOR_DEPLOYED_INDEX_ID=
VERTEX_VECTOR_PUBLIC_ENDPOINT_DOMAIN=
VERTEX_AI_INDEX_ID=